Simulation_source_sink
script_UR_files
Proba_TIF_land_cover
Plots
Old_scripts
Old_Excels
MS
Meetings
GIS
Fotos_sites
Congres_presentacio
Articles
After_invasion_snake_map
Traps_snake.xlsx
UR_selection.csv
*.docx
*.tmp
.RData
.Rhistory
